#line
{
	width: 100%;
	height: 1px;
	background-color: #000;
}
.float-img
{
	margin-top: 15px;
	margin-bottom: 15px;
}
.container .topic #topic
{
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
	font-size: 40px;
}